
$themes: (
    light: (
      navbarColor: #6a27a0,
      navbarTextColor: #ffffff,
      backgroundColor: linear-gradient(to bottom right, #f9e2ff, #1d1d1d),
      textColor: #ffffff,
      circleColor: #eeeeeeee,
      skillsColor: rgb(70, 25, 107),
      greyColor: #eeeeeeee,
      outerCircleBoxShadow: (inset 0px 0px 0px 1.45vw #371157,
                            inset 0px 0px 7.27vw 15.84vw rgba(12, 12, 12, 0.49),
                            inset 0px 0px 14.54vw 0px rgba(65, 65, 65, 0.62),
                            inset 0 0 0px 20vw black),
      recordLabelBoxShadow: inset 0px 0px 0px 8.873vw #563671,
    ),
    purple: (
      navbarColor: #371157,
      navbarTextColor: #fff,
      backgroundColor: #222,
      textColor: #ddd,
      circleColor: #eeeeeeee,
      skillsColor: rgb(70, 25, 107),
      greyColor: #eeeeeeee,
      outerCircleBoxShadow: (inset 0px 0px 0px 1.45vw #371157,
                            inset 0px 0px 7.27vw 15.84vw rgba(12, 12, 12, 0.49),
                            inset 0px 0px 14.54vw 0px rgba(65, 65, 65, 0.62),
                            inset 0 0 0px 20vw black),
      recordLabelBoxShadow: inset 0px 0px 0px 8.873vw #563671,
    ),
    red: (
      navbarColor: #a42525,
      navbarTextColor: #fff,
      backgroundColor: #222,
      textColor: #ddd,
      circleColor: #eeeeeeee,
      skillsColor: #a42525,
      greyColor: #eeeeeeee,
      outerCircleBoxShadow: (inset 0px 0px 0px 1.45vw #a52525,
                            inset 0px 0px 7.27vw 15.84vw rgba(12, 12, 12, 0.49),
                            inset 0px 0px 14.54vw 0px rgba(65, 65, 65, 0.62),
                            inset 0 0 0px 20vw black),
      recordLabelBoxShadow: inset 0px 0px 0px 8.873vw #b53535,
    ),
  );