
$themes: (
    light: (
      navbarColor: rgb(106, 39, 160),
      navbarTextColor: #ffffff,
      backgroundColor: linear-gradient(to bottom right, #f9e2ff, #1d1d1d),
      textColor: #ffffff,
      circleColor: #eeeeeeee,
    ),
    dark: (
      navbarColor: rgb(55, 17, 87),
      navbarTextColor: #fff,
      backgroundColor: #222,
      textColor: #ddd,
      circleColor: #eeeeeeee,
    ),
  );