<section class="white card margin-0 h-100 grey-text text-darken-4">
  <div class="section-container">
    <div class="row">
      <div class="col l6 s12">
        <div class="info">
          <div class="card grey lighten-4 circular"></div> 
          <div class="info-details">
            <h5 class="detail-heading">What I do?</h5>
            <p>Lorem ipsum dolor sit amet, vehicula eget quam sed, viverra porttitor odio. In hac habitasse platea dictumst. Cras bibendum fringilla nunc ac gravida. Phasellus mi metus, posuere sit amet tellus ac, sagittis venenatis lectus. Orci varius natoque penatibus et magnis dis parturient montes</p>
          </div>
        </div>
      </div>
      <div class="col l6 s12">
        <div class="skills">
          <div class="skill">
            <a class="waves-effect waves-light btn primary">button</a>
            <label for="skillName">CSS</label>
            <div class="skillValueContainer">
              <span class="skillValueProgress"></span>
              <span class="skillValue"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
