<div class="tileContainer">
  <div class="row">
    <div class="col l4 s12">
      <div class="card homeMainCard load-hidden" appScrollReveal container="app-home" delay="600" duration="1000">
        <div class="card-content"></div>
      </div>
    </div>
    <div class="col l4 s12">
      <div class="card homeMainCard load-hidden" appScrollReveal container="app-home" direction="bottom" delay="800" duration="1000">
        <div class="card-content"></div>
      </div>
    </div>
    <div class="col l4 s12">
      <div class="card homeMainCard load-hidden" appScrollReveal container="app-home" direction="right" delay="600" duration="1000">
          <div class="card-content"></div>
      </div>
    </div>
  </div>
</div>
