/* You can add global styles to this file, and also import other style files */
@import './themes/themer';
@import './themes/theme-default';
@import './variables';
@import '../../node_modules/materialize-css/sass/materialize.scss';
@import './mixins';
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono);

html {
    height: 100%;
    display: block;
}

body {
    height: 100%;
    * {
        display: block;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
    }
    style {
        display: none;
    }
    app-root {
        height: 100%;
    }
    @include themify($themes) {
        background: themed('backgroundColor');  
        color: themed('textColor');
    }
}

.load-hidden {
    visibility: hidden;
}

nav {
    height: $nav-height;
    line-height: $nav-height;
    @include themify($themes) {
      background-color: themed('navbarColor');
      a {
        color: themed('navbarTextColor');
      }
    }
    
    .brand-logo {
        padding-left: 1rem;
    }
    @media only screen and (max-width: 992px){
        .brand-logo {
            padding-left: 0rem;
        }
    }
}

/* Typed */
.landingMaincontainer {
    .typed-cursor {
        font-size: 2.92rem;
        line-height: 110%;
    }
}

@media only screen and (max-width: 600px) {
    h3 {
        font-size: 1.8rem;
    }
    .landingMaincontainer {
        .typed-cursor {
            font-size: 1.8rem;
        }
    }
}

/* Circles */
.circle-main{
    &:before{
        @include themify($themes) {
            background-color: themed('circleColor');
        }
    }
}

.circle-inner{
    &:before{
        @include themify($themes) {
            background-color: themed('circleColor');
        }
    }
}

.circle-outer{
    &:before{
        @include themify($themes) {
            background-color: themed('circleColor');
        }
    }
}

/* global */
.h-100 {
  height: 100%;
}

.margin-0 {
  margin: 0px !important;
}

.padding-tb-6 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

section {
  border-radius: 0px !important;
  .section-container {
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem 0;
  }
}

.cust-card {
  min-height: 180px;
  margin: 0 1.2rem;
  margin-bottom: 1.2rem;
  background: none;
  &:before{
      display: block;
      content: '';
      position: absolute;
      border-radius: 2px;
      width: 100%;
      height: 100%;        
      background: rgba(145, 145, 145, 0.4);
      backdrop-filter: blur(10px);
  }
}

#sidenav-overlay {
  z-index: 99;
}
.drag-target {
  @extend .hide-on-large-only;
}

/* scrolling */
.scroll-snap-container, app-home {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  &::-webkit-scrollbar {
    @extend .hide-on-med-and-down;
    width: 8px;
    background-color: rgba(76, 76, 76, 0.79);
  }
  &::-webkit-scrollbar-thumb {
    @extend .hide-on-med-and-down;
    border-radius: 10px;
    background-color: rgba(84, 18, 82, 0.9);
  }
}

.as-section-end {
scroll-snap-align: end;
}

.as-section-start {
scroll-snap-align: start;
}

/* app-home */
app-home {
  margin-top: -$nav-height;

  >* {
    padding-top: $nav-height;
  }
}

/* home-main */
.skill {
  @include themify($themes) {
    background-color: themed('greyColor');

    label {
      @extend .white-text;
      background-color: themed('skillsColor');
    }
    .skillValueProgress {
      background-color: lighten(themed('skillsColor'), 18%);
    }
  }
}