/* You can add global styles to this file, and also import other style files */
@import './themes/themer';
@import './themes/theme-default';
@import './variables';
@import '../../node_modules/materialize-css/sass/materialize.scss';
@import './mixins';
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono);

html {
    height: 100%;
    display: block;
}

body {
    height: 100%;
    * {
        display: block;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
    }
    style {
        display: none;
    }
    app-root {
        height: 100%;
    }
    @include themify($themes) {
        background: themed('backgroundColor');  
        color: themed('textColor');
    }
}

.load-hidden {
    visibility: hidden;
}

/* header */
nav {
    height: $nav-height;
    line-height: $nav-height;
    .nav-wrapper i {
      height: $nav-height;
      line-height: $nav-height;
    }
    @include themify($themes) {
      background-color: themed('navbarColor');
      a {
        color: themed('navbarTextColor');
      }
    }
    .brand-logo {
        padding-left: 1rem;
    }
    @media only screen and (max-width: 992px){
        .brand-logo {
            padding-left: 0rem;
        }
    }

    .color-picker {
      top: $nav-height !important;
      @include themify($themes) {
        border: 1px solid themed('navbarColor');
      }
      &:before{
        @include frost-back();
      }
    }
}

/* Typed */
.landingMaincontainer {
    .typed-cursor {
        font-size: 2.92rem;
        line-height: 110%;
    }
}

@media only screen and (max-width: 600px) {
    .landingTextContainer h3 {
        font-size: 1.8rem;
    }
    .landingMaincontainer {
        .typed-cursor {
            font-size: 1.8rem;
        }
    }
}

/* Circles */
.circle-main{
    &:before{
        @include themify($themes) {
            background-color: themed('circleColor');
        }
    }
}

.circle-inner{
    &:before{
        @include themify($themes) {
            background-color: themed('circleColor');
        }
    }
}

.circle-outer{
  
  @include themify($themes) {
    box-shadow: themed('outerCircleBoxShadow');
    &:before {
            background-color: themed('circleColor');
            // background: linear-gradient(-180deg, black, #4e4e4e);
        }
  }
}

.record-label {
  @include themify($themes) {
    box-shadow: themed('recordLabelBoxShadow');
  }
}

/* global */
.h-100 {
  height: 100%;
}

.margin-0 {
  margin: 0px !important;
}

.padding-tb-6 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

section {
  border-radius: 0px !important;

  .section-header {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    h4 {
      margin-bottom: 0.5rem;
    }
    .dash {
      height: 3px;
      // width: 100%;
      @extend .grey;
    }
  }
  .section-container {
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem 0;
  }
}

.cust-card {
  min-height: 180px;
  margin: 0 1.2rem;
  margin-bottom: 1.2rem;
  background: none;
  &:before{
      @include frost-back();
  }
}

#sidenav-overlay {
  z-index: 99;
}
.drag-target {
  @extend .hide-on-large-only;
}

/* scrolling */
.scroll-snap-container, app-home {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  scroll-snap-stop: always;
  &::-webkit-scrollbar {
    @extend .hide-on-med-and-down;
    width: 8px;
    background-color: rgba(76, 76, 76, 0.79);
  }
  &::-webkit-scrollbar-thumb {
    @extend .hide-on-med-and-down;
    border-radius: 10px;
    @include themify($themes) {
      background-color: themed('navbarColor');
    }
  }
}

.as-section-end {
  scroll-snap-align: end;
}

.as-section-start {
  scroll-snap-align: start;
}

/* app-home */
app-home {
  // margin-top: -$nav-height;

  >* {
    padding-top: $nav-height;
  }
}

/* home-main */
.skill {
  @include themify($themes) {
    background-color: themed('greyColor');

    label {
      @extend .white-text;
      background-color: themed('skillsColor');
    }
    .skillValueProgress {
      background-color: lighten(themed('skillsColor'), 8%);
    }
  }
}

/* home-landing */
.chevron {
  
  > * {
    @extend .waves-effect, .waves-light;
    border: 2px solid #191919;
    @include themify($themes) {
      background: themed('navbarColor');
    }
  }
}