<nav class="navBeforeScroll cust-navbar">
  <div class="nav-wrapper">
    <a href="#" class="left brand-logo load-hidden" appScrollReveal>Logo</a>
    <ul id="nav-mobile" class="hide-on-med-and-down">
      <li class="waves-effect waves-dark"><a href="#landing">yolo</a></li>
      <li class="waves-effect waves-dark"><a href="#whoami">whoami</a></li>
      <li class="waves-effect waves-dark"><a href="#contact">ping.me</a></li>
    </ul>
    <a materialize="sideNav" [materializeParams]="[options]" data-activates="mobile-nav" class="sidenav-trigger hide-on-large-only"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div id="mobile-nav" class="cust-card sidenav">
  <ul>
      <li class="waves-effect waves-dark"><a href="#landing">yolo</a></li>
      <li class="waves-effect waves-dark"><a href="#whoami">whoami</a></li>
      <li class="waves-effect waves-dark"><a href="#contact">ping.me</a></li>
  </ul>
</div>