<div class="awesome-back">
    <div class="circle-container">
        <div class="rotator">
            <div class="circle-outer"></div>
            <div class="circle-main"></div>
            <div class="circle-inner">
              <div class="record-label">
                <h6>
                  <span class="char1">Y</span>
                  <span class="char2">O</span>
                  <span class="char3">L</span>
                  <span class="char4">O</span>
                </h6>
              </div>
            </div>
        </div>
    </div>
    <canvas class="background-canvas" #bgCanvas></canvas>
</div>
