//@import 'color';

@mixin p-abs-trans-center($wid) {
	display: block;
	position: absolute;
	width: #{$wid};
	padding-bottom: #{$wid};
	border-radius: 50%;
	top: calc(50% - #{$wid}/2);
	left: calc(50% - #{$wid}/2);
	transform-origin: center center;
	box-sizing: content-box !important;
}

@mixin rotated-text($num-letters: 100, $angle-span: 180deg, $angle-offset: 0deg) {
  $angle-per-char: $angle-span / $num-letters;
  @for $i from 1 through $num-letters {
    .char#{$i} {
      transform: rotate($angle-offset + $angle-per-char * $i);
    }
  }
 }

$circleColor: #000;

.awesome-back {
	box-sizing: content-box !important;
	position: fixed;
	z-index: -10;
	display: block;
	top: 0; bottom: 0;
	left: 0; right: 0;
	
	.circle-container {
		perspective: 1000px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		padding-bottom: 100%;
		transform-style: preserve-3d;
		box-sizing: content-box !important;

		.rotator{
      opacity: 0.99;
			position: absolute;
			box-sizing: content-box !important;
			top: 0px; bottom: 0px;
			left: 0px; right: 0px;
			transform-style: preserve-3d;
			transform: rotateY(-11deg) rotateX(56deg) translateY(0%);;
			// perspective: 1000px;
			// transform: rotateX(75deg);
      // animation: rotate-main 1.6s infinite linear;
      animation: record-enter 0.6s ease-in;
		}

		.circle-main {
      box-shadow: 0px 0px 0.22vw 1.45vw rgba(8, 8, 8, 0.79),
                  inset 0px 0px 1.45vw 7.27vw rgba(0, 0, 0, 0.8),
                  inset 0px 0px 7.27vw 0px rgba(65, 65, 65, 0.62),
                  inset 0 0 0px 10.04vw black;
			@include p-abs-trans-center(40%);
			border: 1.5px solid $circleColor;
			animation: rotate-main 3s infinite linear;

			&:before{
				box-sizing: content-box;
				// content: '';
				position: absolute;
				width: 14px;
				height: 14px;
				border-radius: 50%;
				top: 50%;
				left: -7px;
      }
		}

		.circle-inner {
      box-shadow: 0px 0px 0.072vw 1.09vw #23232340;
      // @include p-abs-trans-center(10%);
			@include p-abs-trans-center(20%);
			border: 0.5px solid $circleColor;
			animation: rotate-main 3s infinite linear;

			&:before{
				box-sizing: content-box;
				// content: '';
				position: absolute;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				top: -5px;
				left: 50%;
      }
		}

		.circle-outer {
      /* box-shadow: inset 0px 0px 0px 20px #a52525,
                  inset 0px 0px 100px 200px rgba(12, 12, 12, 0.49),
                  inset 0px 0px 200px 0px rgba(65, 65, 65, 0.62),
                  inset 0 0 0px 275px black; */
      @include p-abs-trans-center(80%);
			border: 0.1px solid $circleColor;
			animation: rotate-main 3s infinite linear;

			&:before{
				box-sizing: content-box;
				// content: '';
				position: absolute;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				top: calc(100% - 8px);
				left: calc(50% - 8px);
      }
		}
	}
}

/* Animations */
@keyframes rotate-main {
	0% {
	  transform: rotateZ(0deg);
	}
	50% {
	  transform: rotateZ(180deg);
	}
	100% {
	  transform: rotateZ(360deg);
	}
}

@keyframes scale-main {
	0% {
	  transform: scale(1, 1);
	}
	50% {
	  transform: scale(1.5, 1.5);
	}
	100% {
	  transform: scale(0.2, 0.2);
	}
}

@keyframes scale-sec {
	0% {
	  transform: scale(1, 1);
	}
	50% {
	  transform: scale(1.9, 1.9);
	}
	100% {
	  transform: scale(2.8, 2.8);
	}
}

@keyframes record-enter {
  from { transform: rotateY(-11deg) rotateX(134deg) translateY(-117%); }
  to { transform: rotateY(-11deg) rotateX(56deg) translateY(0%); }
}

.record-label {
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 0.6rem;
  top: 0; bottom: 0;
  right: 0; left: 0;
  border-radius: 50%;
  // box-shadow: inset 0px 0px 0px 122px #b53535;

  h6 {
    position: relative;
    height: 50%;
    span {
      height: 100%;
      position: absolute;
      width: 10px;
      left: 0;
      top: 0;
      transform-origin: bottom center;
    }
    @include rotated-text(4);
  }
}

/* box-sizing: content-box;
content: '';
position: absolute;
width: 12%;
height: 34%;
top: 27px;
left: calc(50% - 8px);
backdrop-filter: blur(27px);
opacity: 0.1;
clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
 */

