<section class="margin-0 h-100 grey-text text-darken-4">
  <div class="section-container">
    <div class="row">
      <div class="col l4 s12">
        <div class="card cust-card load-hidden" appScrollReveal container="app-home" delay="600" duration="1000">
          <div class="card-content"></div>
        </div>
      </div>
      <div class="col l4 s12">
        <div class="card cust-card load-hidden" appScrollReveal container="app-home" direction="bottom" delay="800" duration="1000">
          <div class="card-content"></div>
        </div>
      </div>
      <div class="col l4 s12">
        <div class="card cust-card load-hidden" appScrollReveal container="app-home" direction="right" delay="600" duration="1000">
            <div class="card-content"></div>
        </div>
      </div>
    </div>
    <div class="lax" data-lax-preset="spin fadeInOut">Look at me goooooo!</div>
  </div>
</section>

